{% extends 'base.html'%}
{% block content %}

<!-- ABOUT -->
<section class="about section-padding pb-0" style="padding-top: 20px;" id="about">
    <div class="container">
        <div class="row">
    
             <div class="col-lg-7 mx-auto col-md-10 col-12">
                  <div class="about-info">
    
                       <h2 class="mb-4" data-aos="fade-up">Planting cotton is really a <strong>very challenging job</strong> in Agriculture</h2>
    
                       <p class="mb-0" data-aos="fade-up">As cotton is a cash crop and cotton farmers are highly dependent upon volatile world markets <a href="blog.html">blog</a> pages, <a href="project-detail.html">project</a> page, and <a href="contact.html">contact</a> page. 
                       <br><br>COTTON, which is also known as <strong>‘white gold’</strong> , is an important crop in developing countries. The yield of the crop is dependent upon the environment in which it is grown and the management practices of the cropping system.</p>
                  </div>
    <br>
                  <div class="about-image" data-aos="fade-up" data-aos-delay="200">
    
                   <img src="static/images/about.jpg" class="img-fluid" alt="office">
                   <br>
                   <br>
                 </div>
             </div>
    
        </div>
    </div>
    </section>
    
    
{% endblock %}