{% extends 'adminbase.html' %}
{% block content %}

<div class="container" style="background-color: rgb(236, 236, 184);">
  <br>
    <h2>List of Users</h2>
   <br>
   <br>
    <table class="table">
      <thead>
        <tr>
          <th> Name</th>
          <th>Conatct Number</th>
          <th>UserName</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{row['uname']}}</td>
          <td>{{row['uphone']}}</td>
          <td>{{row['username']}}</td>
    
        </tr> 
        {% endfor %}     
        
       
      </tbody>
    </table>
  </div>
 
  {% endblock %}  
