{% extends 'userbase.html' %}
{% block content %}
<!-- CONTACT -->
<section >
    <div class="container" style="background-color: rgb(224, 224, 169);">
         <div class="row">

              <div class="col-lg-6 mx-auto col-md-7 col-12 py-5 mt-5 text-center" data-aos="fade-up">

                <h1 class="mb-4 padding-top-20px">Hey there, Let's <strong>talk</strong> about <strong>creative</strong> thoughts</h1>

        
              </div>

              <div class="col-lg-8 mx-auto col-md-10 col-12">
              
              <!-- Follow https://templatemo.com/contact page to setup your own contact form -->
              
                <form action="/feedback" method="post" class="contact-form" data-aos="fade-up" data-aos-delay="300" role="form">
                  <div class="row">
                    <div class="col-lg-6 col-12">
                      <input type="text" class="form-control" name="name" placeholder="Farmar Name">
                    </div>

                    <div class="col-lg-6 col-12">
                      <input type="text" class="form-control" name="number" placeholder="Mobile Number">
                    </div>

                    <div class="col-lg-6 col-12">
                      <input type="text" class="form-control" name="title" placeholder="Title">
                    </div>

                    <div class="col-lg-12 col-12">
                      <textarea class="form-control" rows="6" name="description" placeholder="Description"></textarea>
                    </div>
                    

                    <div class="col-lg-5 mx-auto col-7">
                      <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
                    </div>
                  </div>
                  
                  

                </form>
                <br>
                <div class="text-center" >

                  <h3 class="mb-4"><strong style="color:black;">{% if msg %}
                    {{msg}}
                    {% endif %}</strong> </h3>
  
          
                </div>
                <br>
              </div>

         </div>
    </div>
</section>

<!-- How to change your own map point
1. Go to Google Maps
2. Click on your location point
3. Click "Share" and choose "Embed map" tab
4. Copy only URL and paste it within the src="" field below
-->

{% endblock %}